{% extends 'accounts/auth/main_user.html' %}
{% load static %}
{% block content %}

<!-- HEADER -->
<div class="container-fluid header-user">
    <section class="header row">
        <nav class="navbar navbar-expand-xl navbar-light">
            <div class="container-fluid header-navs">
                <a class="navbar-brand" href="{% url 'main' %}"><img class="header-logo" style="width: 300px;"
                        src="{% static '/images/logo.svg' %}" alt="logo"></a>
                <h1>
                    <div class="promo-header" style="margin-left: 10vh;">Настройки</div>
                </h1>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main_user' %}">Назад</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</div>


<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<img class="profile-pic" src="{{request.user.student.profile_pic.url}}" >
		</div>
	</div>

	<div class="col-md-9">
		<form method="POST" action="" enctype="multipart/form-data">

            {% csrf_token %}
            <label>Группа:&nbsp&nbsp&nbsp&nbsp</label>{{form.group}}
            <br>
            <br>

            <label>ФИО:&nbsp&nbsp&nbsp&nbsp</label>{{form.fio}}
            <br>
            <br>

            <label>Телефон:&nbsp&nbsp&nbsp&nbsp</label>{{form.phone}}
            <br>
            <br>

            <label>Дата рождения  <em>(ГГГГ-ММ-ДД)</em>:&nbsp&nbsp&nbsp&nbsp</label>{{form.birthday}}
            <br>
            <br>

            <label>Фото:&nbsp&nbsp&nbsp&nbsp</label>{{form.profile_pic}}
            <br>
            <br>

            <label>ВК:&nbsp&nbsp&nbsp&nbsp</label>{{form.vk_url}}
            <br>
            <br>

            <label>Инстаграмм:&nbsp&nbsp&nbsp&nbsp</label>{{form.instagram_url}}
            <br>
            <br>

        <input class="btn btn-primary" type="submit" name="Update Information" value="Сохранить">

        </form>
        {{form.errors}}
	</div>
</div>

{% endblock content %}
