{% extends 'accounts/auth/main_user.html' %}
{% load static %}
{% block content %}

<!-- HEADER -->
<div class="container-fluid header-user">
    <section class="header row">
        <nav class="navbar navbar-expand-xl navbar-light">
            <div class="container-fluid header-navs">
                <a class="navbar-brand" href="{% url 'main' %}"><img class="header-logo" src="{% static '/images/logo.svg' %}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <h1><div class="promo-header" style="margin-left: 10vh;">Портфолио</div></h1>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-items">    
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_user' %}">Назад</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</div>


<div class="container" style="text-align: center;">
    <div class="col">
        <form method="POST" action="" enctype="multipart/form-data">
           
            {% csrf_token %}
            <h3 style="visibility: hidden;" >Пользователь{{form.user}}</h3>  
            <h3>Название</h3>  {{form.description}}
            <br>
            <br>
            <h3>Картинка (.png / .jpeg)</h3>  {{form.award}}
            <br>
            <br>
            <input class="btn btn-light" type="submit" name="Submit" value="Сохранить">
        </form>
	</div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock content %}
