{% extends 'accounts/auth/main_user.html' %}
{% load static %}
{% block content %}

<!-- HEADER -->
<div class="container-fluid header-user">
    <section class="header row">
        <nav class="navbar navbar-expand-xl navbar-light">
            <div class="container-fluid header-navs">
                <a class="navbar-brand" href="{% url 'main' %}"><img class="header-logo" style="width: 300px;"
                        src="{% static '/images/logo.svg' %}" alt="logo"></a>
                <h1>
                    <div class="promo-header" style="margin-left: 10vh;">Удаление из БД</div>
                </h1>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main_user' %}">Назад</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</div>

<p style="text-align: center;">Вы уверены, что хотите удалить эту запись?</p>
<div class="container-fluid" style="text-align: center; align-items: center; margin-bottom: 50px;">
    <div class="col">
        <form method="POST" action="{% url 'admin_deletedb' pk_test1 item.id %}">
            {% csrf_token %}
            <a href="{% url 'main_user' %}">Нет</a>
            <input class="btn btn-primary" type="submit" name="Submit" value="Да">
        </form>
    </div>
</div>

{% endblock content %}
