{% extends 'accounts/auth/main_user.html' %}
{% load static %}
{% block content %}

<!-- HEADER -->
<div class="container-fluid header-user">
    <section class="header row">
        <nav class="navbar navbar-expand-xl navbar-light">
            <div class="container-fluid header-navs">
                <a class="navbar-brand" href="{% url 'main' %}"><img class="header-logo" style="width: 300px;"
                        src="{% static '/images/logo.svg' %}" alt="logo"></a>
                <h1>
                    <div class="promo-header" style="margin-left: 10vh;">Работа с БД</div>
                </h1>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main_user' %}">Назад</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</div>

<!-- USER -->
<div class="container-fluid user-page">
    <section class="user-page row">
        {% for field in info %}
        <div class="col-1"></div>
        <!-- USER > USER NAV -->
        <div class="col-xs-6 col-sm-10 col-md-3 col-lg-2 col-xxl-2 footer-nav">
            <div class="row">
                <div class="footer-box">
                    <div class="footer-nav-header">Главное</div>
                    <div class="footer-nav-item"><a class="nav-item-link" href="{% url 'user_table' user.id %}">Активность студента</a></div>
                    <div class="footer-nav-item"><a class="nav-item-link" href="#portfolio">Портфолио</a></div>
                </div>
            </div>
        </div>

        <!-- USER > USER PIC -->
        <div class="col-sm-10 col-md-6 col-lg-5 col-xxl-4 footer-box">
            <div>
                <img class="profile-pic img-fluid" style="height: 70vh; width: 100%; object-fit: cover; object-position: top;" src="{{field.profile_pic.url}}">
            </div>
        </div>


        <!-- USER > USER INFO -->
        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-8 col-xxl-2 footer-news-list">
            <div class="row">
                <div class="footer-box">
                    <div class="footer-nav-header">ФИО</div>
                    <div class="footer-nav-item">{{field.fio}}</div>
                </div>
                <div class="footer-box">
                    <div class="footer-nav-header">Группа</div>
                    <div class="footer-nav-item">{{field.group.сourse}}{{field.group.specialty}} - {{field.group}}</div>
                </div>
                <div class="footer-box">
                    <div class="footer-nav-header">День рождения</div>
                    <div class="footer-nav-item">{{field.birthday}}</div>
                </div>
                <div class="footer-box">
                    <div class="footer-nav-header">Email</div>
                    <div class="footer-nav-item">{{field.user.email}}</div>
                </div>
                <div class="footer-box">
                    <div class="footer-nav-header">Телефон</div>
                    <div class="footer-nav-item">{{field.phone}}</div>
                </div>
                <div class="footer-box">
		    <div class="footer-nav-header">Соц. сети</div>
                    {% if field.vk_url is not Null %}
                        <div class="footer-nav-item"><a href="{{field.vk_url}}" target="_blank">vk</a></div>
                    {% endif %}
                    {% if field.instagram_url is not Null %}
                        <div class="footer-nav-item"><a href="{{field.instagram_url}}" target="_blank">instagram</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        {% endfor %}
    </section>
</div>

<br>
<br>
<br>

<!-- TABLE -->
<!-- <div class="container" style="overflow-x:auto;">
    <table>
        <tr>
            <th>Результат</th>
            {% for tag in tags %}
            <th>{{tag}}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>Общее кол-во</td>
            {% for event in events_count %}
            <td>{{event}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Кол-во моего участия</td>
            {% for event_member in events_member_count  %}
            <td>{{event_member}}</td>
            {% endfor %}
        </tr>
    </table>
</div> -->

<br>
<br>
<br>

<script type="text/javascript">
    function openImageWindow(src) {
    var image = new Image();
    image.src = src;
    var width = image.width;
    var height = image.height;
    window.open(src,"Image","width=" + width + ",height=" + height);
    }
</script>

<!-- PORTFOLIO -->
<div class="container" id="portfolio">
    <section class="direction row">
        {% for award in awards %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 event">
            <div class="box-dateitem">{{award.date_performance}}</div>
            <img width="150px" height="350px" class="profile-award img-fluid"  src="{{award.award.url}}"  onclick = 'openImageWindow(this.src);'>
            <div class="event-text">{{award.description}}</div>
            <div>
                <a class="nav-item-link" href="{{award.award.url}}" download>
                    <svg width="24" height="24" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M57 57H7V60H57V57Z" fill="black"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M29.6915 45.8996V5.5H34.3085V45.8996L45.0591 34.851C45.9606 33.9245 47.4223 33.9245 48.3238 34.851C49.2254 35.7775 49.2254 37.2797 48.3238 38.2063L33.6324 53.3051C32.7308 54.2316 31.2692 54.2316 30.3676 53.3051L15.6762 38.2063C14.7746 37.2797 14.7746 35.7775 15.6762 34.851C16.5777 33.9245 18.0394 33.9245 18.9409 34.851L29.6915 45.8996Z" fill="black"/>
                    </svg>
                </a>
            </div>
        </div>
        {% endfor %}
    </section>
</div>

<br>
<br>
<br>

{% endblock %}
