{% extends 'accounts/auth/main_user.html' %}
{% load static %}
{% block content %}

<!-- HEADER -->
<div class="container-fluid header-user">
    <section class="header row">
        <nav class="navbar navbar-expand-xl navbar-light">
            <div class="container-fluid header-navs">
                <a class="navbar-brand" href="{% url 'main' %}"><img class="header-logo" style="width: 300px;"
                        src="{% static '/images/logo.svg' %}" alt="logo"></a>
                <h1>
                    <div class="promo-header" style="margin-left: 10vh;">Работа с БД</div>
                </h1>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main_user' %}">Назад</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</div>

<h3>{{name}}</h3>
<div class="container-fluid" style="overflow-x:auto;">
    <table>
        {% if pk_test == 'Student'%}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <th>Группа</th>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Дата рождения <em>(ГГГГ-ММ-ДД)</em></th>
                <th>Фото</th>
                <th>ВК</th>
                <th>Инстаграмм</th>
                <th><input class="btn btn-primary" type="submit" name="Submit" value="Сохранить"></th>
            </tr>
            <tr>
                <td>{{form.group}}</td>
                <td>{{form.fio}}</td>
                <td>{{form.phone}}</td>
                <td>{{form.birthday}}</td>
                <td>{{form.profile_pic}}</td>
                <td>{{form.vk_url}}</td>
                <td>{{form.instagram_url}}</td>
            </tr>
        </form>
        {{form.errors}}


        {% elif pk_test == 'User' %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Пароль</th>
                <th>Подтверждение пароля</th>
                <th><input class="btn btn-primary" type="submit" name="Submit" value="Сохранить"></th>
            </tr>
            <tr>
                <td>{{form.username}}</td>
                <td>{{form.email}}</td>
                <td>{{form.password1}}</td>
                <td>{{form.password2}}</td>
            </tr>
        </form>
        {{form.errors}}





        {% elif pk_test == 'ListDirection' %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <th>Направление</th>
                <th>Студент</th>
                <th>Статус</th>
                <th>Роль</th>
                <th><input class="btn btn-primary" type="submit" name="Submit" value="Сохранить"></th>
            </tr>
            {{ formset.management_form}}
            {% for form in formset %}
            <tr>
                <td>{{form.tags}}</td>
                <td>{{form.user}}</td>
                <td>{{form.status}}</td>
                <td>{{form.role}}</td>
            </tr>
            {% endfor %}
        </form>



        {% elif pk_test == 'Event' %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <tr>
                <th>Направление</th>
                <th>Название мероприятия</th>
                <th>Дата проведения <em>(ГГГГ-ММ-ДД)</em></th>
                <th><input class="btn btn-primary" type="submit" name="Submit" value="Сохранить"></th>
            </tr>
            <tr>
                <td>{{form.tags}}</td>
                <td>{{form.name}}</td>
                <td>{{form.date}}</td>
            </tr>
        </form>



        {% elif pk_test == 'Member' %}
        <form method="POST" action="">

            {% csrf_token %}
            <tr>
                <th>Студент</th>
                <th>Роль</th>
                <th>Комментарий</th>
                <th><input class="btn btn-primary" type="submit" name="Submit" value="Сохранить"></th>
            </tr>
            {{ formset.management_form}}
            {% for form in formset %}
            <tr>
                <td>{{form.user}}</td>
                <td>{{form.role}}</td>
                <td>{{form.comment}}</td>
            </tr>
            {% endfor %}
        </form>



        {% elif pk_test == 'UserAward' %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <th>Студент</th>
                <th>Портфолио</th>
                <th>Описание</th>
                <th><input class="btn btn-primary" type="submit" name="Submit" value="Сохранить"></th>
            </tr>
            <tr>
                <td>{{form.user}}</td>
                <td>{{form.award}}</td>
                <td>{{form.description}}</td>
            </tr>
        </form>



        {% elif pk_test == 'Company' %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <th>Курс</th>
                <th>Специальность</th>
                <th>Номер</th>
                <th><input class="btn btn-primary" type="submit" name="Submit" value="Сохранить"></th>
            </tr>
            <tr>
                <td>{{form.сourse}}</td>
                <td>{{form.specialty}}</td>
                <td>{{form.group_number}}</td>
            </tr>
        </form>



        {% elif pk_test == 'DocsCollege' %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <th>Название</th>
                <th>Курс</th>
                <th>Специальность</th>
                <th>Файл</th>
                <th>Описание</th>
                <th><input class="btn btn-primary" type="submit" name="Submit" value="Сохранить"></th>
            </tr>
            <tr>
                <td>{{form.name}}</td>
                <td>{{form.cource}}</td>
                <td>{{form.specialty}}</td>
                <td>{{form.file}}</td>
                <td>{{form.description}}</td>
            </tr>

        </form>



        {% elif pk_test == 'DocsCouncil' %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <th>Направление</th>
                <th>Название</th>
                <th>Файл</th>
                <th>Описание</th>
                <th><input class="btn btn-primary" type="submit" name="Submit" value="Сохранить"></th>
            </tr>
            <tr>
                <td>{{form.tag}}</td>
                <td>{{form.name}}</td>
                <td>{{form.file}}</td>
                <td>{{form.description}}</td>
            </tr>
        </form>
        {% endif %}
    </table>
</div>

<br>
<br>
<br>

{% endblock content %}
