{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<!-- PROMO -->        
<section class="promo row" id="id_info">
    <div class="col-12 col-sm-7 promo-header">
        {{text_about.tags}}
    </div>
</section>



<!-- INFO -->
<section class="info row">
    <div class="col-1 col-xs-0 col-sm-1"></div>

    <!-- INFO > TEXT -->
    <div class="col-xs-6 col-sm-10 col-md-5 col-lg-3 info-boxes">
        <div class="row">
            <div class="info-box">
                <div class="info-author-header">{{text_about.main_text}}</div>
                <div class="info-text">{{text_about.text | safe}}</div>
            </div>
        </div>
    </div>

    <div class="col-xs-0 col-sm-2 col-md-1 col-lg-2"></div>

    <!-- INFO > IMG -->
    {% if users_count != 0 %}
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 info-users">
        <div class="box-header">Координаторство</div>
        <div class="row">
            {% for user in users %}
            {% if user.status == "Правление" %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 info-user">
                <img class="img-fluid" style="height: 30vh; width: 100%; object-fit: cover; object-position: top;" src="{{user.user.profile_pic.url}}" alt="">
                <div class="info-fio">{{user.user.fio}}</div>
                <div class="info-role">{{user.role}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="col-xs-1 col-sm-1 col-md-1"></div>
</section>  


{% if news_count != 0 %}
<!-- PROMO -->        
<section class="promo row" id="id_events">
    <div class="col-12 col-sm-7 promo-header">
        Мероприятия
    </div>
</section>
{% endif %}

<!-- EVENTS -->
<div class="container">
    <section class="direction row">
        {% for post in news %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 event">
            <div class="box-dateitem">{{post.date_performance}}</div>
            <img class="img-fluid event-image" src="{{post.photo.url}}" alt="">
            <div class="event-header">{{post.name}}</div>
            <div class="event-text">{{post.main_text | truncatewords:20  | safe }}</div>
            <div class="event-more"><a class="nav-item-link" href="{% url 'news_about' post.id %}">Подробнее</a></div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
