{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<!-- PROMO -->        
<section class="promo row">
    <div class="col-12 col-sm-7 promo-header">
        Документы ССТ
    </div>
</section>

<!-- DOCS -->
<section class="docs row">
    <div class="col-0 col-xs-0 col-sm-1 col-md-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
        {% for tag in tags %}
        <div class="doc-box-class">
            <div class="doc-header">{{tag}}</div>
            {% for doc in docs %}
                {% if doc.tag == tag %}
                <div class="doc-document">
                    <a class="doc-file" href="{{doc.file.url}}" download>{{doc.name}}</a>
                    <span class="doc-about"> — {{doc.description}}</span>
                </div>
                {% endif %}
            {% endfor %}                       
        </div>
        {% endfor %}
    </div>
    <div class="col-0 col-xs-0 col-sm-1 col-md-1 col-lg-2"></div>
</section>
{% endblock %}