{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<!-- PROMO -->        
<section class="promo row">
    <div class="col-12 col-sm-7 promo-header">
        Колледж
    </div>
</section>



<!-- DOCS -->
<section class="docs row">
    <div class="col-0 col-xs-0 col-sm-1 col-md-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">

        {% for specialty in specialties %}
        <div class="doc-box-class">
            <div class="doc-header">{{specialty}}</div>
            {% for cource in cources %}
                <div class="doc-year">
                    <div class="doc-year-header">{{cource}}</div>
                    {% for doc in docs %}
                        {% if doc.specialty == specialty and doc.cource == cource %}
                        <div class="doc-document">
                            <a class="doc-file" href="">{{doc.name}}</a>
                            <span class="doc-about"> — {{doc.description}}</span>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
    <div class="col-0 col-xs-0 col-sm-1 col-md-1 col-lg-2"></div>
</section>

{% endblock %}