{% extends 'accounts/main.html' %}

{% block content %}

<!-- PROMO -->        
<section class="promo row">
    <div class="col-12 col-sm-2 promo-dateitem">
        актуальное
        на —
        <br>
        <div class="promo-date">{{event_all.date}}</div>
    </div>
    <div class="col-12 col-sm-7 promo-header">
    {{event_all.name}}
    </div>
    <div class="col-1"></div>
</section>

<div class="container">
    <section class="directions row">
        {% for tag in tags %}
            {% for post in posts %}
                {% if post.tags == tag %}
                    <div class="col-6 col-md-4 col-lg-3 box">
                        <div class="box-header">{{tag}}</div>
                        <div class="box-item"><a class="nav-item-link" href="{% url 'direction' tag.id %}" >Информация</a></div>
                        <div class="box-item"><a class="nav-item-link" >Календарь</a></div>

                        {% if tag.name == "Культмасс" %}
                        {% elif tag.name == "Спорт" %}
                        {% elif tag.name == "Профка" %}
                            <div class="box-item"><a class="nav-item-link" >Выставки</a></div>
                            
                        {% elif tag.name == "Информ" %}
                            <div class="box-item"><a class="nav-item-link" >Соц. Сети</a></div>

                        {% elif tag.name == "Мультимедиа" %}
                            <div class="box-item"><a class="nav-item-link" >Аппаратура</a></div>

                        {% elif tag.name == "Общее" %}
                            <div class="box-item"><a class="nav-item-link" >Студент года</a></div>
                            <div class="box-item"><a class="nav-item-link" >Дни самуправления</a></div>
                            <div class="box-item"><a class="nav-item-link" >МежССУЗ</a></div>

                        {% elif tag.name == "Клубы" %}
                            <div class="box-item"><a class="nav-item-link" >Клуб дебатов</a></div>
                            <div class="box-item"><a class="nav-item-link" >Английский клуб</a></div>
                            <div class="box-item"><a class="nav-item-link" >Литературный клуб</a></div>
                        {% endif %}
                        
                        <div class="box-dateitem">
                            <a class="nav-item-link" href="{% url 'news_about' post.id %}">
                                <div class="box-date">{{post.date_performance}}—</div>
                                <div class="box-event">{{post.event.name}}</div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </section>
</div>

<style>
    .profile-pic
    {
        margin: 0 -2%;
        height: 100vh;
    }

</style>

<!-- BIG PROMO -->
<section class="big-promo row">
    <div class="col-0 col-md-1"></div>
    <div class="col-sm-8 col-lg-6">
        <div class="big-promo-text">
            {{event_all.name}}
        </div>
        
    </div>
    <div class="col-12">
        <img class="profile-pic promo-image"  src="{{event_all.photo.url}}">
    </div>
</section>

{% endblock %}