{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<!-- PROMO -->        
<section class="promo row">
    <div class="col-12 col-sm-7 promo-header">
        Новости
    </div>
</section>



<!-- EVENTS -->
<div class="container">
    <section class="events row">
        {% for post in news_list %}
        <div class="col-12 col-md-6 col-lg-6 event-box">
            <div class="box-dateitem">{{post.date_performance}}</div>
            <img class="img-fluid" src="{% static 'images/rec.png' %}" alt="">
            <div class="event-header">{{post.name}}</div>
            <div class="event-text">{{post.main_text}}</div>
            <div class="event-more"><a class="nav-item-link" href="{% url 'news_about' post.id %}">Подробнее</a></div>
        </div>
        {% endfor %}
    </section>
</div>

{% endblock %}