{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<!-- PROMO -->
<style>
    .promo-image
    {
        width: 100%;
        height: 90vh;
        object-fit: cover;
        margin: 0 !important;
        padding: 0 !important;
    }

    .big-promo-text
    {
        margin-bottom: 10vh;
    }

</style>
<section class="big-promo row">
    <div class="col-0 col-md-1"></div>
    <div class="col-sm-8 col-lg-6">
        <div class="col-12 col-sm-7 big-promo-text">{{new.name}}</div>
    </div>
    <img width="500px" class="profile-pic promo-image"  src="{{new.photo.url}}">
</section>



<!-- INFO -->
<section class="info row">
    <div class="col-0 col-sm-1 col-md-1 col-lg-2"></div>
    <!-- INFO > TEXT -->
    <div class="col-sm-10 col-md-10 col-lg-4">
        <div class="row">
            <div class="info-box">
                <div class="col-12 col-sm-7 box-dateitem">{{event.date}}</div>
                <div class="info-author-header">{{new.main_text}}</div>
                <div class="info-about">
                    {{new.text | safe}}

                    <br>
                    <br>
                    {% if new.link != None %}
                        <div class="info-link"><a href="{{new.link}}">Фото/Видео</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-1"></div>



    <!-- INFO > LIST -->

    {% if members_count != 0 %}
        <div class="col-sm-8 col-md-8 col-lg-3 info-list">
            <div class="box-header">Участники</div>
            <div class="row">
                <div class="col-12 info-lists">
                    {% for member in members %}
                        <div class="info-list">
                            <span class="info-group">{{member.user.group.сourse}}{{member.user.group.specialty}}-{{member.user.group.group_number}}</span>
                            <span class="info-fio" >{{member.user.fio}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-0 col-md-1"></div>
</section>

{% endblock %}
