{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<!-- PROMO -->
<section class="promo row">
    <div class="col-12 col-sm-7 promo-header">
        Новости
    </div>
</section>

<style>
    th
    {
        border-bottom: 1px solid white
    }
</style>
<div class="row">
    <form method="get">
        <table>

            <tr>
                <th><h1>ПОИСК</h1></th>
                <th>Направление:&nbsp&nbsp&nbsp&nbsp{{myFilter.form.tags}}</th>
                <th>Название новости:&nbsp&nbsp&nbsp&nbsp{{myFilter.form.name}}</th>
                <th><button class="btn btn-primary" type="submit">Поиск</button></th>
            </tr>
        </table>
    </form>
</div>

<br>
<br>
<br>

<!-- EVENTS -->
<div class="container">
    <section class="events row">
        {% for post in news_list %}
        <div class="col-12 col-md-6 col-lg-6 event-box">
            <div class="box-dateitem">{{post.date_performance}}</div>
            <img class="profile-pic event-image img-fluid"  src="{{post.photo.url}}">
            <div class="event-header">{{post.name}}</div>
            <div class="event-text">{{post.main_text | truncatewords:20}}</div>
            <div class="event-more"><a class="nav-item-link" href="{% url 'news_about' post.id %}">Подробнее</a></div>
        </div>
        {% endfor %}
    </section>
</div>

{% endblock %}
