@font-face /* Roman - 500 */
{
    src:url('./helveticaneuecyr-roman.otf');
    font-family: HelveticaNeueCyr;
    font-weight: 500;
    font-style: normal;
}

@font-face /* Medium - 600 */
{
    src:url('./helveticaneuecyr-medium.otf');
    font-family: HelveticaNeueCyr;
    font-weight: 600;
    font-style: normal;
}

@font-face /* Bold - 700 */
{
    src:url('./helveticaneuecyr-bold.otf');
    font-family: HelveticaNeueCyr;
    font-weight: 700;   
    font-style: normal;
}

@font-face /* Heavy - 800 */
{
    src:url('./helveticaneuecyr-heavy.otf');
    font-family: HelveticaNeueCyr;
    font-weight: 800;
    font-style: normal;
}
