{% load static %}

<!-- FOOTER -->
<div class="container-fluid">
    <section class="footer row">
        <!-- FOOTER > NAVIGATION -->
        <div class="col-xs-12 col-sm-10 col-lg-3 footer-nav">
            <a href="{% url 'main' %}"><img class="header-logo" style="width: 300px; margin-bottom:30px" src="{% static '/images/logo.svg' %}" alt="Логотип"></a>
        </div>

        <div class="col-xs-12 col-sm-10 col-lg-2 footer-nav">
            <div class="footer-box">
                <div class="footer-nav-header">Главное</div>
                <div class="footer-nav-item"><a class="nav-item-link" href="{% url 'news' %}"">Новости</a></div>
                <div class="footer-nav-item"><a class="nav-item-link" href="{% url 'about' %}">О нас</a></div>

                {% if request.user.is_authenticated %}
                    <div class="footer-nav-item"><a class="nav-item-link" href="{% url 'main_user' %}">Аккаунт</a></div>
                    <div class="footer-nav-item"><a class="nav-item-link" href="{% url 'logout' %}">Выйти</a></div>
                {% else %}
                    <div class="footer-nav-item"><a class="nav-item-link" href="{% url 'login' %}">Войти</a></div>
                {% endif %}
            </div>
        </div>

        <div class="col-xs-12 col-sm-10 col-lg-2 footer-nav">
            <div class="footer-box">
                <div class="footer-nav-header">Общее</div>
                <div class="footer-nav-item"><a class="nav-item-link" href="{% url 'docs_council' %}">Документы Студенческого совета</a></div>
                <div class="footer-nav-item"><a class="nav-item-link" href="{% url 'calendar' %}">Календарный план</a></div>
                <div class="footer-nav-item"><a class="nav-item-link" href="{% url 'docs_college' %}">Документы Колледжа</a></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10 col-lg-2 footer-nav">
            <div class="footer-box">
                <div class="footer-nav-header">Соц. сети</div>
                <div class="footer-nav-item"><a class="nav-item-link" href="https://vk.com/timeofkip" target="_blank">vk</a></div>
                <div class="footer-nav-item"><a class="nav-item-link" href="https://www.instagram.com/studsovet_kip/" target="_blank">instagram</a></div>
            </div>
        </div>
    </section>
</div>
