{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<style>
    table
    {
        width: 100%;
    }
    th, td 
    {
        padding: 15px;
        text-align: center;
        border-bottom: 1px black solid;
    }
</style>

<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{myFilter.form}}
		        <button class="btn btn-primary" type="submit">Поиск</button>
            </form>
		</div>
	</div>
</div>

<table >
    <tr>
        <th>Направление</th>
        <th>Мероприятие</th>
        <th>Участник</th>
        <th>Роль</th>
        <th>Комментарий</th>
        <th>Дата</th>
    </tr>

    {% for event in events %}
        {% for member in members %}
            {% if member.event == event %}    
                <tr>
                    <td>{{event.tags}}</td>
                    <td>{{event.name}}</td>
                    {% if member.user == account %}
                        <td><a href="{% url 'user-page' %}">{{member.user}}</a></td>
                    {% else %}
                        <td><a href="{% url 'admin_lookuser' member.user.fio %}">{{member.user}}</a></td>
                    {% endif %}


                    <td>{{member.role}}</td>
                    <td>{{member.comment}}</td>
                    <td>{{event.date}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>

<br>
<br>
<br>

{% endblock content %}