{% extends 'accounts/auth/main_user.html' %}
{% load static %}
{% block content %}

<!-- HEADER -->
<div class="container-fluid header-user">
    <section class="header row">
        <nav class="navbar navbar-expand-xl navbar-light">
            <div class="container-fluid header-navs">
                <a class="navbar-brand" href="{% url 'main' %}"><img class="header-logo" src="{% static '/images/logo.svg' %}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <h1><div class="promo-header" style="margin-left: 10vh;">{{pk_test}}</div></h1>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-items">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_user' %}">Назад</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</div>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {{field.name}}
        {{field}}
        <br>
        <br>
    {% endfor %}
    <input class="btn btn-primary" type="submit" name="Submit" value="Сохранить">
</form>

{% endblock content %}
