{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Council USER</title>

    

    <!---=== BOOTSTRAP CSS STYLES ===--->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-mUkCBeyHPdg0tqB6JDd+65Gpw5h/l8DKcCTV2D2UpaMMFd7Jo8A+mDAosaWgFBPl" crossorigin="anonymous">

    <!---=== CUSTOM CSS STYLES ===--->
    <link rel="stylesheet" type="text/css" href="{% static './css/styles.css' %}">

    <!---=== CUSTOM CSS FONT ===--->
    <link rel="stylesheet" type="text/css" href="{% static './css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/Helvetica.css' %}">



</head>
<body>
    <div class="container-fluid">

        
        {% block content %}

        {% endblock %}


        <section class="footer row">
            <div class="col-1"></div>
            <!-- FOOTER > NAVIGATION -->
            <div class="col-xs-6 col-sm-10 col-md-3 col-lg-2 col-xxl-2 footer-nav">
                <div class="row">
                    <a href="/index.html"><img class="footer-logo" src="/img/logo.svg" alt="Логотип"></a>
                    <div class="footer-box">
                        <div class="footer-nav-header">Главное</div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="/pages/gallery.html">Галерея</a></div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="/pages/news.html">Новости</a></div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="/pages/about.html">О нас</a></div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="/pages/account.html">Аккаунт</a></div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="/pages/search.html">Поиск</a></div>
                    </div>
                    <div class="footer-box">
                        <div class="footer-nav-header">Общее</div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="/pages/docs_council.html">Документы</a></div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="/pages/calendar.html">Календарный план</a></div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="/pages/docs_college.html">Колледж</a></div>
                    </div>
                    <div class="footer-box">
                        <div class="footer-nav-header">Соц. сети</div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="https://vk.com/timeofkip">vk</a></div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="https://www.instagram.com/studsovet_kip/">instagram</a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-1 col-md-1 col-lg-0 col-xxl-1"></div>

            <!-- FOOTER > MAIN NEW -->
            <div class="col-sm-10 col-md-6 col-lg-5 col-xxl-3 footer-box">
                <div class="row">
                    <div class="user-profile-pic">
                        <div class="footer-main-box-date">09 мая —</div> 
                        <div class="footer-main-box-event">День победы!</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-1 col-sm-2 col-md-1 col-lg-2 col-xxl-1"></div>

            <!-- FOOTER > LIST NEWS -->
            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-8 col-xxl-2 footer-news-list">
                <div class="row">
                    <a href="/index.html"><img class="footer-logo" src="/img/logo.svg" alt="Логотип"></a>
                    <div class="footer-box">
                        <div class="footer-nav-header">Главное</div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="/pages/gallery.html">Галерея</a></div>
                    </div>
                    <div class="footer-box">
                        <div class="footer-nav-header">Общее</div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="/pages/docs_council.html">Документы</a></div>
                    </div>
                    <div class="footer-box">
                        <div class="footer-nav-header">Соц. сети</div>
                        <div class="footer-nav-item"><a class="nav-item-link" href="https://vk.com/timeofkip">vk</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-0 col-xxl-1"></div>
        </section>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>
</body>
</html>