{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<h1>USER PROFILE</h1>
Список мероприятий:
{% for event in events %}
    {{event.event}}
{% endfor %}


<h2>Культмассовые мероприятия - > </h2> {{events_CULTURE_c}}
<h2>Участник культмассовых мероприятий - > </h2> {{member_CULTURE_c}}

<br>

<h2>Спортивные мероприятия - > </h2> {{events_SPORT_c}}
<h2>Участник спортивных мероприятий - > </h2> {{member_SPORT_c}}


<a href="{% url 'account' %}">Настройки аккаунта</a>
<br>
{% endblock content %}
