{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<h3>USER PROFILE</h3>
Список мероприятий:
{% for event in events_all %}
    {{event.event}}
    <br>
{% endfor %}



<style>
    th, td 
    {
    padding: 15px;
    text-align: center;
    border: 1px black solid;
}
</style>

<table>
    <tr>
        <th>Результат</th>
        {% for tag in tags %}
        <th>{{tag}}</th>
        {% endfor %}
    </tr>
    <tr>
        <td>Общее кол-во</td>
        {% for event in events %}
        <td>{{event}}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Кол-во моего участия</td>
        {% for event_member in events_member %}
        <td>{{event_member}}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Процент от кол-ва</td>
        {% for event_procent in event_procents %}
        <td>{{event_procent}}</td>
        {% endfor %}
    </tr>
</table>




<h3>Портфолио</h3>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.award}}
    <input class="btn btn-primary" type="submit" name="Update Information" value="Сохранить">
</form>


    
<br>
<br>
<br>


<h3>Отзывы</h3>


<br>
<br>
<br>


<a href="{% url 'account' %}">Настройки аккаунта</a>
<br>
{% endblock content %}
